<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>KFC | Keyboard Fight Club</title>

    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
    <script src="../app.js"></script>

</head>


<body>

<nav class="navbar">
    <a class="navbar-brand" href="/" onclick="rogo"><b>KFC</b></a>
    <div class="navbar-nav">
        <a href="/" class="nav-item nav-link active">토론장로비</a>
        <a href="{{url_for('battle_create')}}" class="nav-item nav-link">토론장생성하기</a>
    </div>
</nav>

    <div class="wrap">
        <h1 id="title">깻잎 논쟁!</h1>
        <div class="gg-img"></div>
        <p id="cont1">내 애인이 내 친구의 깻잎을 떼어줘도 된다</p>
        <p id="cont2">내 애인이 내 친구의 깻잎을 떼어주면 안된다</p>

        <div class="progress_wrap" id="progress_bar">
        </div>
        <button class="first" onclick="select_btn1('깻잎 논쟁!')">선택</button>
        <button class="third" onclick="select_btn2('깻잎 논쟁!')">선택</button>
        <br>
        <button onclick="openClose()" id="tr_btn" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@fat">토론 참여하기
        </button>

    </div>


    <div class="comment-box">
        <div class="modal-header">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inline1"
                                   value="option1">
                            <label id="pt_label" class="form-check-label" for="inline1">깻잎을 떼어 줘도 된다</label>
                        </div>
                        <h5 class="modal-title" id="exampleModalLabel">VS</h5>
                        <div id="form-check" class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inline2"
                                   value="option2">
                            <label id="pt_label2" class="form-check-label" for="inline2">깻잎을 떼어 주면 안된다</label>
                        </div>
        </div>
        <form class="comment-form">
            <input type="text" placeholder="닉네임을 입력해주세요.">
            <textarea rows="3" placeholder="해당 선택지에 대한 의견을 입력해주세요."></textarea>
            <button class="cmt-btn" type="submit">토론참여 완료하기</button>
        </form>
    </div>
    <ul id="comment-array">
        <li>동의 순</li>
        <li>최신 순</li>
    </ul>
    <hr class="cmt-line">
    <ol id="comment-lists">
        <li class="comment-list">
            <div class="profile-image">
                <img class="profile-icon" src="https://icon-library.com/images/anonymous-icon/anonymous-icon-28.jpg" alt="">
            </div>
            <div class="name time">
                <strong class="nick-name">익명1</strong>
                <time></time>
                <div class="comment-content">
                    절대절대절대불가
                </div>
                <div>
                    <a class="reply" href="#">반박하기</a>
                </div>
                <div>
                    <a class="delete" href="#">삭제</a>
                </div>
            </div>
        </li>
        <li class="comment-list">
            <div class="profile-image">
                <img class="profile-icon" src="https://icon-library.com/images/anonymous-icon/anonymous-icon-28.jpg" alt="">
            </div>
            <div class="name time">
                <strong class="nick-name">익명2</strong>
                <time></time>
                <div class="comment-content">
                    왜 안돼?
                </div>
                <div>
                    <a class="reply" href="#">반박하기</a>
                </div>
                <div>
                    <a class="delete" href="#">삭제</a>
                </div>
            </div>
            <li class="comment-list">
            <div class="profile-image">
                <img class="profile-icon" src="https://icon-library.com/images/anonymous-icon/anonymous-icon-28.jpg" alt="">
            </div>
            <div class="name time">
                <strong class="nick-name">익명3</strong>
                <time></time>
                <div class="comment-content">
                    이게 왜 문제
                </div>
                <div>
                    <a class="reply" href="#">반박하기</a>
                </div>
                <div>
                    <a class="delete" href="#">삭제</a>
                </div>
            </div>
        </li>
        </li>
    </ol>
    </body>

    </html>